body{
    margin: 0px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button{
    padding: 10px 20px;
    color: white;
    background-color: blue;
    font-weight: bold; 
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#delete-btn{
    color: white;
    background-color: blue;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
#delete-btn:hover{
    background-color: black;
}
input{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 4px;
   
}
ul{
    margin-top: 15px;
    color: whitesmoke;
    padding-left: 15px;
}
li{
    margin-bottom: 10px;
    color: black;
}

a{
    color: black;
}
a:hover{
    color: blue;
}